.page {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),  url("../../../../../assets/bgLoginImg.png");
  background-size: cover;
}

.form-window {
  width: 350px;
  height: auto;
  margin: 200px auto auto;
  background-color: white;
  border-radius: 20px;
}
