<div class="content">
  <div class="name">
    Регистрация
  </div>
  <div class="formBox">
    <form [formGroup]="registrationForm">
      <input type="text" class="formControl" placeholder="Имя" formControlName="nameValue">
      <input type="email" class="formControl" placeholder="Почта" formControlName="emailValue">
      <input type="password" class="formControl" placeholder="Пароль" formControlName="password">
      <input type="password" class="formControl" placeholder="Подтвердите пароль" formControlName="repeatPassword">
      <button type="button" (click)="onSubmit()"> Зарегистрироваться </button>
    </form>
  </div>
  <span>Уже есть аккаунт?</span> <span class="link" routerLink="/login/sign-in"> Войти </span>
</div>
