@import '../../../../../../../node_modules/@taiga-ui/core/styles/taiga-ui-local';

:host {
  --tui-chart-0: var(--chart-0);
  --tui-chart-1: var(--chart-1);
  --tui-chart-2: var(--chart-2);
  --tui-chart-3: var(--chart-3);
  --tui-chart-4: var(--chart-4);
  --tui-chart-5: var(--chart-5);
  --tui-chart-6: var(--chart-6);
  --tui-chart-7: var(--chart-7);
  --tui-chart-8: var(--chart-8);
  --tui-chart-9: var(--chart-9);
  --tui-chart-10: var(--chart-10);
  --tui-chart-11: var(--chart-11);
  --tui-chart-12: var(--chart-12);
  --tui-chart-13: var(--chart-13);
  --tui-chart-14: var(--chart-14);
  --tui-chart-15: var(--chart-15);
  --tui-chart-16: var(--chart-16);
  --tui-chart-17: var(--chart-17);
  --tui-chart-18: var(--chart-18);
  --tui-chart-19: var(--chart-19);
  --tui-chart-20: var(--chart-20);
  --tui-chart-21: var(--chart-21);
  --tui-chart-22: var(--chart-22);
  --tui-chart-23: var(--chart-23);
  --tui-chart-24: var(--chart-24);
  --tui-chart-25: var(--chart-25);
  --tui-chart-26: var(--chart-26);
  --tui-chart-27: var(--chart-27);
  --tui-chart-28: var(--chart-28);
  --tui-chart-29: var(--chart-29);
  --tui-chart-30: var(--chart-30);
}
