<div class="pageName">
  Категории
</div>

<button (click)="openModal('createCategory')"> Open modal </button>
<div class="category" [ngStyle]="{'background': categoryColors[1]}"> </div>

<ul>
  <li *ngFor="let cat of categoryColors; let i = index" [attr.data-index] = "i">
    <div class="category" (click)="openModal('createCategory')" [ngStyle]="{'background': categoryColors[i] }"></div>
  </li>
</ul>

<modal-window id="createCategory">
  <div class="addCategory">
    <h1> Новая категория </h1>
    <div class="category-preview">
      <p> {{previewName}} </p>
      <div class="preview-container">
        <div [ngStyle]="{'-webkit-mask-image': categoryIcons[iconIndex], '-webkit-mask-size': 'cover', 'background-color': categoryColors[colorIndex]}"></div>
      </div>
    </div>
    <div class="categoryForm">
      <form [formGroup]="categoryForm">
        <input type="text" class="formControl" placeholder="Название" formControlName="nameValue">
      </form>
    </div>
    <div class="choose-containers">
      <div class="choose-color">
        <h2> Цвет </h2>
        <div class="choose-color-container">
          <div *ngFor="let color of categoryColors; let i = index" [attr.data-index]="i">
            <div (click)="chooseColorIndex(i)" [ngStyle]="{'background-color': categoryColors[i]}"></div>
          </div>
        </div>
      </div>
      <div class="choose-icon">
        <h2> Иконка </h2>
        <div class="choose-icon-container">
          <div *ngFor="let icon of categoryIcons; let j = index" [attr.data-index]="j">
            <div (click)="chooseIconIndex(j)" [ngStyle]="{'-webkit-mask-image': categoryIcons[j], '-webkit-mask-size': 'cover', 'background-color': 'black'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-window>
