<div class="pageName">
  Категории
</div>

<div class="category-workspace">
  <div class="category-list">
    <ul cdkDropList (cdkDropListDropped)="isCategoryMoving(false)">
      <li *ngFor="let cat of categoryList; let i = index" [attr.data-index] = "i" cdkDrag>
        <div class="category">
          <p> {{cat.name}} </p>
          <div class="category-container" (mousedown)="isCategoryMoving(true)" (mouseup)="isCategoryMoving(false)">
            <div [ngStyle]="{'-webkit-mask-image': cat.icon, '-webkit-mask-size': 'cover', 'background-color': cat.color}"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="category add-category">
          <div class="add-category-button" (click)="openModal('createCategory')">
            <div>
              <img src="assets/icons/category-icons/addIcon.svg">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="category-chart">
  </div>
</div>

<div class="delete-bin" (click)="showBinInfo()" [ngClass]="{'delete-bin-bigger': iscategoryMoving}" cdkDropList (cdkDropListDropped)="deleteCategory($event)">
</div>

<modal-window id="createCategory">
  <div class="add-category-form">
    <h1> Новая категория </h1>
    <div class="category-preview">
      <p> {{previewName}} </p>
      <div class="preview-container">
        <div [ngStyle]="{'-webkit-mask-image': categoryIcons[iconIndex], '-webkit-mask-size': 'cover', 'background-color': categoryColors[colorIndex]}"></div>
      </div>
    </div>
    <div class="categoryForm">
      <form [formGroup]="categoryForm">
        <input type="text" class="formControl" placeholder="Название" formControlName="nameValue">
      </form>
    </div>
    <div class="choose-containers">
      <div class="choose-color">
        <h2> Цвет </h2>
        <div class="choose-color-container">
          <div *ngFor="let color of categoryColors; let i = index" [attr.data-index]="i">
            <div (click)="chooseColorIndex(i)" [ngStyle]="{'background-color': categoryColors[i]}"></div>
          </div>
        </div>
      </div>
      <div class="choose-icon">
        <h2> Иконка </h2>
        <div class="choose-icon-container">
          <div *ngFor="let icon of categoryIcons; let j = index" [attr.data-index]="j">
            <div (click)="chooseIconIndex(j)" [ngStyle]="{'-webkit-mask-image': categoryIcons[j], '-webkit-mask-size': 'cover', 'background-color': 'black'}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-button" (click)="onSubmit()"> Сохранить </div>
  </div>
</modal-window>
