<div class="pageName">
  Настройки
</div>

<div class="setting">
  <div class="avatar">
    <div class="userAvatar" *ngIf="$user | async as user">
      <img width="100px" height="100px" [src]="user.photoURL ?? 'assets/icons/form-icons/defaultAvatar.png'">
    </div>
    <p (click)="inputFile.click()"> Редактировать </p>
    <input #inputFile type="file" hidden (change)="uploadImage($event)">
  </div>
  <tui-root>
    <form [formGroup]="settingForm">
      <div class="settingForm">
        <div class="form-floating">
          <input type="text" class="formControl" id="floating-name" placeholder="Имя" formControlName="nameValue">
          <label for="floating-name"></label>
        </div>
        <div class="form-floating">
          <input type="email" class="formControl" id="floating-email" placeholder="Почта" formControlName="emailValue">
          <label for="floating-email"></label>
        </div>
        <tui-select formControlName="moneyValue" [valueContent]="moneyValueContent">
          Основная валюта
          <tui-data-list-wrapper
            *tuiDataList
            [items]="moneyList">
          </tui-data-list-wrapper>
          <ng-template #moneyValueContent let-data>
            {{data.name}} - {{data.icon}}
          </ng-template>
        </tui-select>
        <button type="button" (click)="onSubmit()">
          Сохранить
        </button>
      </div>
    </form>
  </tui-root>
</div>
