.setting {
  display: flex;
}

.avatar {
  width: 130px;
  height: 120px;
  margin: 0 70px 0 70px;
  display: grid;
  justify-content: center;
}

.avatar p {
  justify-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(28, 29, 33, 0.8);
  cursor: pointer;
}

.userAvatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.userAvatar img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.settingForm {
  width: 50%;
}

input {
  margin-bottom: 24px;
}

