.setting {
  display: flex;
  margin-top: 80px;
}

.avatar {
  width: 130px;
  height: 140px;
  background-color: aquamarine;
  margin: 0 70px 0 70px
}

.settingForm {
  width: 50%;
}

input {
  margin-bottom: 24px;
}

