*,
*:before,
*:after {
  box-sizing: border-box;
}

tui-island {
  height: 100vh;
  background-color: #F5F8FE;
  border-radius: 0;
}

.asideContent {
  width: 100%;
  margin-top: 60px;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.userAvatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.userAvatar img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.userName {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  justify-content: center;
}

.welcum-text {
  color: rgba(28, 29, 33, 0.6);
  font-weight: 500;
  font-size: 16px;
}

.monthChart {
  margin-top: 40px;
}

.history-list {
  display: inline-block;
  border-radius: 7px;
  width: 285px;
  height: 450px;
  margin-top: 40px;
  background-color: white;
}

.history-list-content {
  margin: 24px;
}

.history-list-name {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 20px;
}

.history-list-operations {
  width: 100%;
}

ul {
  margin-bottom: 20px;
}

ul:last-child {
  margin-bottom: 0;
}

li {
  margin-bottom: 14px;
}

.operation-day {
  color: #7B82BE;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 14px;
}

.operation-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.category-icon {
  background-color: #f4f4f5;
  border-radius: 10px;
  padding-top: 5px;
  width: 40px;
  height: 40px;
}

.category-icon div {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.operation-info {
  margin-left: 10px;
}

.category-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1C1D21;
}

.card-name {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #8A8A8A;
  line-height: 17px;
}

colored-currency {
  align-self: center;
  justify-content: flex-end;
  margin-left: auto;
}
