.add-category-form {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 70px;
  font-size: 36px;
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.categoryForm {
  margin-bottom: 90px;
}

.formControl {
  height: 42px;
  width: 60%;
}

.category-preview {
  position: absolute;
  left: 58vw;
  top: 20vh;
  width: 128px;
  height: 150px;
}

.category-preview p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.preview-container {
  background-color: #f4f4f5;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10%;
  width: 100px;
  height: 100px;
}

.preview-container div {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.choose-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  margin-bottom: 100px;
}

.choose-color-container {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  flex-wrap: wrap;
}

.choose-color-container div {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.choose-icon-container {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  flex-wrap: wrap;
}

.choose-icon-container div {
  width: 50px;
  height: 50px;
}

.submit-button {
  width: 170px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #d1d6ff;
  color: rgba(28, 29, 33, 0.65);
}
