.menu {
  height: 100%;
  border-right: 2px solid lightgrey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.menu-list-container {
  max-width: 65%;
  margin: 0 auto;
}

.menu-list {
  padding-top: 214px;
}

.menu-list svg {
  margin-right: 35px;
}

.menu-list div {
  display: flex;
  margin-bottom: 32px;
}

.menu-list div:hover {
  cursor: pointer;
}

.menu-list div:last-child {
  margin-bottom: 0;
}

.menu-list span {
  align-self: center;
}

.logout-container {
  display: flex;
  margin: 40vh auto;
  width: 90px;
  height: 24px;
  align-items: center;
  cursor: pointer;
}

.logout-container .logout-icon {
  margin-right: 7px;
}

.logout-container .logout-icon img {
  opacity: 80%;
}

.logout-container .logout-text {
  font-size: 16px;
  font-weight: 500;
  opacity: 80%;
}
