<div class="pageName">
  Операции
</div>
<div class="operation-list" *ngIf="operationList$ | async as operationList">
  <table *ngIf="operationList.length !== 0">
    <tr>
      <th> Категория </th>
      <th> Дата </th>
      <th> Сумма </th>
      <th> Счёт </th>
      <th class="question-col" (click)="onQuestionClick()">
        <img src="assets/icons/form-icons/question-circle.svg">
      </th>
    </tr>
    <tr *ngFor="let operation of operationList" (dblclick)="openOperationUpdate('update-operation', operation)">
      <td>
        <div class="category-operation">
          <category-icon [size]="40" [category]="operation.categoryName"></category-icon>
          <div class="category-name">
            {{operation.categoryName}}
          </div>
        </div>
      </td>
      <td>
        {{getOperationDate(operation)}}
      </td>
      <td>
        <colored-currency [value]="operation.value"></colored-currency>
      </td>
      <td>
        {{operation.card}}
      </td>
    </tr>
  </table>
  <div class="no-operations" *ngIf="operationList.length === 0">
    <img src="assets/sad-cipa.png">
    <div class="no-operations-text">
      <p> К сожалению, у вас еще нет операций :(
          <br> Чтобы добавить операцию, кликните по категории в соответствующем <span routerLink="/cabinet/categories">разделе</span>
      </p>
    </div>
  </div>
</div>

<modal-window id="update-operation">
  <add-operation-modal modalType="update" (submitForm)="onSubmit($event)" (deleteOperation)="onDelete($event)"></add-operation-modal>
</modal-window>
